flask
flask-cors
werkzeug
mysql-connector-python
python-dotenv
pandas
numpy
joblib
scikit-learn
yfinance
binance
spacy>=3.7.0
vadersentiment
requests
selenium
webdriver-manager
beautifulsoup4
feedparser